@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a:link { 
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
}

ul {
    list-style: none;
}

/* NAV */

nav {
    background-color: #fff8ea;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
}

.paginas {
    padding: 0px;
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.index , .productos , .carrito {
    margin: 15px;
    width: fit-content;
    text-align: center;
    position: relative;
}

.index::before, .productos::before , .carrito::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.index:hover::before, .productos:hover::before , .carrito:hover::before {
    width: 100%;
}

.logo-inicio {
    display: flex;
    position: relative;
}

.logo {
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

.texto-logo {
    display: flex;
    position: relative;
    top: 16px;
    left: 9px;
    cursor: default;
}

.icono-carrito {
    width: 20px;
    height: 20px;
    display: flex;
    position: relative;
    top: 4px;
}

.carrito {
    display: flex;
    justify-content: space-around;
}

.barra-con-logo {
    margin-top: 95px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.barra-con-texto {
    background-color: #fff8ea;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    cursor: default;
    
}

.icono-carrito1 {
    width: 40px;
    height: 40px;
}

h1 {
    text-align: center;
}

@media (max-width: 576px) {

    nav {
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

   .paginas {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo {
        display: flex;
        justify-content: start;
    }

    .barra-con-logo {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .barra-con-texto {
        align-items: center;
    }

    .icono-carrito1 {
        width: 20px;
        height: 20px;
    }

    h1 {
        font-size: 20px;
    }
}

@media (max-width: 320px){

    nav {
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: flex;
        justify-content: start;
    }

    .barra-con-logo {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .barra-con-texto {
        align-items: center;
    }

    .icono-carrito1 {
        width: 20px;
        height: 20px;
    }

    h1 {
        font-size: 20px;
    }
}

/* MAIN */

body {
    background-color: #f7f6f6;
}

ul {
    list-style: none;
}

.compras-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.compra1 , .compra2 , .compra3{
    background-color: white;
    display: flex;
    width: 1000px;
    justify-items: start;
    margin: 20px;
    padding: 0;
    border-radius: 10px;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 350px;
}

.texto h2 {
    font-size: 30px;
    margin: 10px;
}

.texto p {
    font-size: 16px;
    padding: 5px;
    gap: 5px;
    margin: 10px 0px;
    line-height: 20px;
    width: 350px;
    text-align: start;
}

.budin-frutosrojos , .muffin-frutosrojos , .muffin-manzanaynuez{
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.boton-comprar {
    color: white;
    background-color: greenyellow;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 8px ;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.boton-comprar:hover {
    background-color: rgb(137, 224, 6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);;
}

.botoncomprar-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.cantidad {
    background-color: white;
    margin: 10px;
    padding: 5px;
    height: 60px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);;
    text-align: center;
    position: relative;
    top: 238px;
    left: 260px;
}

.boton-restar , .cantidad-valor , .boton-agregar {
    margin: 5px;
}

.boton-cerrar {
    display: inline;
    position: relative;
    width: 30px;
    height: 30px;
    top: -70px;
    right: -340px;
}

.cruz {
    width: 30px;
    height: 30px;
}

.icono-cruz {
    width: 30px;
    height: 30px;
}

@media (max-width: 1200px) {

    .compra1 , .compra2 , .compra3 {
        width: 700px;
    }

    .budin-frutosrojos , .muffin-frutosrojos , .muffin-manzanaynuez{ 
        width: 200px;
        object-fit: cover;
    }

    .cantidad-y-boton-cerrar {
        display: flex; 
        
    }

    .cantidad {
        top: 10;
        left: 7px;
        bottom: 0;
    }

    .boton-cerrar {
        top: 5px;
        left: -25px;
        align-items: end;
    }
}

@media (max-width: 768px) {
    
    .compra1 , .compra2 , .compra3 {
        width: 570px;
    }

    .budin-frutosrojos , .muffin-frutosrojos , .muffin-manzanaynuez{ 
        width: 200px;
    }

    .texto {
        width: 250px;
    }

    .texto h2 {
        font-size: 25px;
        margin: 10px;
    }

    .texto p {
        font-size: 16px;
        padding: 5px;
        width: 250px;
    }

    .cantidad-y-boton-cerrar {
        display: flex; 
        
    }

    .cantidad {
        top: 10;
        left: -20px;
        bottom: 0;
    }

    .boton-cerrar {
        top: 5px;
        left: -55px;
        align-items: end;
    }

}

@media (max-width: 576px) {
    
    .compra1 , .compra2 , .compra3{
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 250px;
    }
    
    .texto h2 {
        font-size: 20px;
        margin: 10px;
    }
    
    .compra3 .texto h2 {
        font-size: 17px;
        margin: 10px;
    }
    
    .texto p {
        font-size: 16px;
        padding: 5px;
        width: 250px;
        text-align: center;
    }
    
    .budin-frutosrojos , .muffin-frutosrojos , .muffin-manzanaynuez{
        width: 250px;
        height: 300px;
        margin: 0px;
        border-radius: 5px;
    }

    .cantidad {
        top: 0;
        left: 30px;
        justify-content: center;
    }

    .boton-cerrar {
        top: -515px;
        left: 5px;
    }

    .compra3 .boton-cerrar {
        top: -510px;
    }

    .cantidad-y-boton-cerrar {
        display: flex;
        flex: row;
        justify-content: end;
    }

    .icono-cruz {
        width: 20px;
        height: 20px;
    }
    
    .cruz {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 320px) {
    
    .compra1 , .compra2 , .compra3{
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 250px;
    }
    
    .texto h2 {
        font-size: 20px;
        margin: 10px;
    }
    
    .compra3 .texto h2 {
        font-size: 17px;
        margin: 10px;
    }
    
    .texto p {
        font-size: 16px;
        padding: 5px;
        width: 250px;
        text-align: center;
    }
    
    .budin-frutosrojos , .muffin-frutosrojos , .muffin-manzanaynuez{
        width: 250px;
        height: 300px;
        margin: 0px;
        border-radius: 5px;
    }

    .cantidad {
        top: 0;
        left: 30px;
        justify-content: center;
    }

    .boton-cerrar {
        top: -515px;
        left: 5px;
    }

    .compra3 .boton-cerrar {
        top: -510px;
    }

    .cantidad-y-boton-cerrar {
        display: flex;
        flex: row;
        justify-content: end;
    }

    .icono-cruz {
        width: 20px;
        height: 20px;
    }
    
    .cruz {
        width: 20px;
        height: 20px;
    }
}

/*FOOTER*/

footer {
    background-color: #fff8ea;;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);;
    display: flex;
    justify-content: space-between;
}

.icono-email , .icono-whatsapp , .icono-instagram {
    width: 25px;
    display: flex;
}

.email , .whatsapp , .instagram {
    display: flex;
    position: relative;
    left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.contacto p {
    font-weight: lighter;
    position: relative;
    left: 10px;
}

h4 {
    font-weight: lighter;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.instagram p {
   width: fit-content;
}

.instagram p::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: .3s;
}

.instagram p:hover::before {
    width: 100%;
}

.whatsapp p {
    width: fit-content;
}

.whatsapp p::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: .3s;
}

.whatsapp p:hover::before {
    width: 100%;
}

@media (max-width: 1200px) {

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto {
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    h4 {
        width: auto;
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }
}

@media (max-width: 768px) {

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto {
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    h4 {
        width: auto;
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }

}

@media (max-width: 576px) {

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto {
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    h4 {
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }
}

@media (max-width: 320px) {

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto {
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;
    }

    h4 {
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }
}

