@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a:link { 
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* NAV */

nav {
    background-color: #fff8ea;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
}

.paginas {
    padding: 0px;
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.index , .productos , .carrito {
    margin: 15px;
    width: fit-content;
    text-align: center;
    position: relative;
}

.index::before, .productos::before , .carrito::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.index:hover::before, .productos:hover::before , .carrito:hover::before {
    width: 100%;
}


.logo-inicio {
    display: flex;
    position: relative;
}

.logo {
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

.texto-logo {
    display: flex;
    position: relative;
    top: 16px;
    left: 9px;
    cursor: default;
}

.icono-carrito {
    width: 20px;
    height: 20px;
    display: flex;
    position: relative;
    top: 4px;
}

.carrito {
    display: flex;
    justify-content: space-around;
}

.barra-con-logo {
    margin-top: 95px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.productos-nav {
    background-color: #fff8ea;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.paginas-productos {
    margin: 15px;
    display: flex;
}

.budines , .muffins {
    margin: 10px;
    width: fit-content;
    text-align: center;
    position: relative;
}

.budines::before , .muffins::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: .3s;
}

.budines:hover::before , .muffins:hover::before {
    width: 100%;
}

@media (max-width: 576px) {

    nav {
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

   .paginas {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo {
        display: flex;
        justify-content: start;
    }

    .barra-con-logo {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .productos-nav {
        font-size: 20px;
    }
}

@media (max-width: 320px){

    nav {
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

   .paginas {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo {
        display: flex;
        justify-content: start;
    }

    .barra-con-logo {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .productos-nav {
        font-size: 20px;
        
    }
}

/* MAIN */

body {
    background-color: #f7f6f6;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 12px;
    margin: 10px;
    font-weight: lighter;
    cursor: default;
}

h2 {
    text-align: center;
    font-size: 23px;
    margin: 10px;
}

.productos-container {      
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    margin-bottom: 70px;
    gap: 69px;
}

.budin1 , .budin2 , .budin3 {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);;
    transition: box-shadow 0.3s ease-in-out;
    width: 400px;
    height: 650px;
}

.budin1:hover , .budin2:hover , .budin3:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
    width: 400px;
    display: flex;
    align-items: center;
}


.descripcion-producto {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    margin: 0px 20px;
}

.agregar-al-carrito {
    width: 40px;
    display: flex;
    position: relative;
    left: 340px;
}

@media (max-width: 1400px) {

    .productos-container {
        gap: 50px;
    }

    .budin1 , .budin2 , .budin3 {
        width: 350px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
        width: 350px;
        display: flex;
        align-items: center;
    }

    .agregar-al-carrito {
        width: 30px;
        display: flex;
        position: relative;
        left: 310px;
    }
}

@media (max-width: 1200px) {
    
    .productos-container {      
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .budin1 , .budin2 , .budin3 {
        width: 450px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
        width: 450px;
        display: flex;
        align-items: center;
    }

    .agregar-al-carrito {
        width: 30px;
        display: flex;
        position: relative;
        left: 410px;
    }
}

@media (max-width: 768px) {
        
    .productos-container {      
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

}

@media (max-width: 576px) {
    
    .productos-container {      
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .budin1 , .budin2 , .budin3 {
        width: 300px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
        width: 300px;
        display: flex;
        align-items: center;
    }

    .agregar-al-carrito {
        width: 30px;
        display: flex;
        position: relative;
        left: 260px;
    }
}

@media (max-width: 320px) {
    
    .productos-container {      
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .budin1 , .budin2 , .budin3 {
        width: 250px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
        width: 250px;
        display: flex;
        align-items: center;
    }

    .agregar-al-carrito {
        width: 30px;
        display: flex;
        position: relative;
        left: 210px;
    }
    

}

/*FOOTER*/

footer {
    background-color: #fff8ea;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);;
    display: flex;
    justify-content: space-between;
}

.icono-email , .icono-whatsapp , .icono-instagram {
    width: 25px;
    display: flex;
}

.email , .whatsapp , .instagram {
    display: flex;
    position: relative;
    left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.contacto p {
    font-weight: lighter;
    position: relative;
    left: 10px;
}

h4 {
    font-weight: lighter;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.instagram p {
   width: fit-content;
}

.instagram p::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: .3s;
}

.instagram p:hover::before {
    width: 100%;
}

.whatsapp p {
    width: fit-content;
}

.whatsapp p::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: .3s;
}

.whatsapp p:hover::before {
    width: 100%;
}

@media (max-width: 1200px) {
    
    footer {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto{
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    h4 {
        width: auto;
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }
}

@media (max-width: 768px) {

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto{
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    h4 {
        width: auto;
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }

} 

@media (max-width: 576px) {

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto{
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
    }

    h4 {
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }
}

@media (max-width: 320px) {
    
    footer {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .contacto {
        width: fit-content;
    }

    .texto-contacto{
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;
    }

    h4 {
        margin: 20px;
        text-align: center;
    }

    .email .whatsapp .instagram {
        width: fit-content;
        justify-content: start;
        padding: 30px;
    }
}


