.body-carrito {
	background-color: $background-color_2;
}

.h1-productosMuffins {
	text-align: center;
	font-size: 0.75rem;
	margin: 10px;
	font-weight: lighter;
	cursor: default;
}

.h2-productosMuffins {
	text-align: center;
	font-size: 1.4375rem;
	margin: 10px;
}

.productos-container-productosMuffins {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "muffin1 muffin2 muffin3" "muffin4 muffin5 muffin6";
	justify-items: center;
	justify-content: space-around;
	gap: 40px;
	margin: 40px;
}

@mixin muffins-cajas ($ancho) {
	@for $i from 1 through 6 {
		$product-area: ();

		@if $i <=3 {
			$product-area: muffin#{$i};
		}

		@else {
			$product-area: muffin#{$i - 3};
		}

		.muffin#{$i}-productosMuffins {
			grid-area: #{$product-area};
			width: $ancho;
			height: auto;
		}

		background-color: $background-color_4;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		position: relative;
    	overflow: hidden;
		transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		width: $ancho;
		height: auto;

		&:hover {
			transform: scale(1.1);
        	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		}
	}
}

.muffin1-productosMuffins,
.muffin2-productosMuffins,
.muffin3-productosMuffins,
.muffin4-productosMuffins,
.muffin5-productosMuffins,
.muffin6-productosMuffins {
	@include muffins-cajas(400px);
}

@mixin muffins-imagenes($ancho) {
	width: $ancho;
	display: flex;
	align-items: center;
}

.muffin-banana,
.muffin-coco,
.muffin-frutosrojos,
.muffin-frutossecos,
.muffin-limonyamapola,
.muffin-vainillaychips {
	@include muffins-imagenes(400px);
}

.descripcion-producto-productosMuffins {
	text-align: center;
	padding: 5px;
	font-size: 0.875rem;
	margin: 0px 20px;
}

.img-agregar-al-carrito-productosMuffins {
	width: 40px;
	display: flex;
	position: relative;
	left: 350px;
}

@media (max-width: 1400px) {

	.productos-container-productosMuffins {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "muffin1 muffin2" "muffin3 muffin4" "muffin5 muffin6";
		justify-items: center;
	}

	.muffin1-productosMuffins,
	.muffin2-productosMuffins,
	.muffin3-productosMuffins,
	.muffin4-productosMuffins,
	.muffin5-productosMuffins,
	.muffin6-productosMuffins {
		@include muffins-cajas(400px);
	}

	.muffin-banana,
	.muffin-coco,
	.muffin-frutosrojos,
	.muffin-frutossecos,
	.muffin-limonyamapola,
	.muffin-vainillaychips {
		@include muffins-imagenes(400px);
	}

	.img-agregar-al-carrito-productosMuffins {
		left: 350px;
	}

}

@media (max-width: 1200px) {

	.productos-container-productosMuffins {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "muffin1 muffin2" "muffin3 muffin4" "muffin5 muffin6";
		justify-items: center;
	}

	.muffin1-productosMuffins,
	.muffin2-productosMuffins,
	.muffin3-productosMuffins,
	.muffin4-productosMuffins,
	.muffin5-productosMuffins,
	.muffin6-productosMuffins {
		@include muffins-cajas(350px);
	}

	.muffin-banana,
	.muffin-coco,
	.muffin-frutosrojos,
	.muffin-frutossecos,
	.muffin-limonyamapola,
	.muffin-vainillaychips {
		@include muffins-imagenes(350px);
	}

	.img-agregar-al-carrito-productosMuffins {
		width: 30px;
		display: flex;
		position: relative;
		left: 310px;
	}

	.muffin1-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -20px;
		}
	}

	.muffin2-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -20px;
		}
	}

	.muffin6-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -20px;
		}
	}

}

@media (max-width: 768px) {

	.productos-container-productosMuffins {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(1fr 1fr 1fr);
		grid-template-areas: "muffin1 muffin2" "muffin3 muffin4" "muffin5 muffin6";
		justify-items: center;
	}

	.muffin1-productosMuffins,
	.muffin2-productosMuffins,
	.muffin3-productosMuffins,
	.muffin4-productosMuffins,
	.muffin5-productosMuffins,
	.muffin6-productosMuffins {
		@include muffins-cajas(250px);
	}

	.muffin-banana,
	.muffin-coco,
	.muffin-frutosrojos,
	.muffin-frutossecos,
	.muffin-limonyamapola,
	.muffin-vainillaychips {
		@include muffins-imagenes(250px);
	}

	.img-agregar-al-carrito-productosMuffins {
		left: 210px;
	}

	.muffin1-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -75px;
		}
	}

	.muffin2-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -33px;
		}
	}

	.muffin4-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -20px;
		}
	}

	.muffin6-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -20px;
		}
	}

}

@media (max-width: 576px) {

	.productos-container-productosMuffins {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
		grid-template-areas: "muffin1" "muffin2" "muffin3" "muffin4" "muffin5" "muffin6";
		justify-items: center;
	}

	.muffin1-productosMuffins,
	.muffin2-productosMuffins,
	.muffin3-productosMuffins,
	.muffin4-productosMuffins,
	.muffin5-productosMuffins,
	.muffin6-productosMuffins {
		@include muffins-cajas(300px);
	}

	.muffin-banana,
	.muffin-coco,
	.muffin-frutosrojos,
	.muffin-frutossecos,
	.muffin-limonyamapola,
	.muffin-vainillaychips {
		@include muffins-imagenes(300px);
	}

	.img-agregar-al-carrito-productosMuffins {
		width: 30px;
		display: flex;
		position: relative;
		left: 260px;
	}

	.muffin1-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -40px;
		}
	}

	.muffin2-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -20px;
		}
	}

	.muffin4-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: 0px;
		}
	}

	.muffin6-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: 0px;
		}
	}

}

@media (max-width: 320px) {

	.productos-container-productosMuffins {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
		grid-template-areas: "muffin1" "muffin2" "muffin3" "muffin4" "muffin5" "muffin6";
		justify-items: center;
	}

	.muffin1-productosMuffins,
	.muffin2-productosMuffins,
	.muffin3-productosMuffins,
	.muffin4-productosMuffins,
	.muffin5-productosMuffins,
	.muffin6-productosMuffins {
		@include muffins-cajas(250px);
	}

	.muffin-banana,
	.muffin-coco,
	.muffin-frutosrojos,
	.muffin-frutossecos,
	.muffin-limonyamapola,
	.muffin-vainillaychips {
		@include muffins-imagenes(250px);
	}

	.img-agregar-al-carrito-productosMuffins {
		width: 30px;
		display: flex;
		position: relative;
		left: 210px;
	}

	.muffin1-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -75px;
		}
	}

	.muffin2-productosMuffins {
		.img-agregar-al-carrito-productosMuffins {
			bottom: -30px;
		}
	}

}