.body-carrito {
	background-color: $background-color_2;
}

.grilla-main {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 1fr;
	grid-template-areas: "compras total";
	justify-items: center;

	@media (max-width: 1500px) {
		grid-template-columns: 1fr;
		grid-template-rows: 70% 30%;
		grid-template-areas: "compras" "total";
		margin-bottom: 100px;
	}

	@media (max-width: 576px) {
		grid-template-rows: 80% 20%;
	}

}

.compras-container-carrito {
	grid-area: compras;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0px 50px 0px;

	@media (max-width: 1500px) {
		margin: 0;
	}
}

.total-container-carrito {
	grid-area: total;
	padding: 50px;
	width: 750px;

	@media (max-width: 1500px) {
		width: 730px;
		justify-items: center;
		padding: 0;
	}

	@media (max-width: 1200px) {
		width: 680px;
	}

	@media (max-width: 768px) {
		width: 580px;
		
	}

	@media (max-width: 576px) {
		width: 350px;
	}

	@media (max-width: 400px) {
		width: 300px;
	}

	@media (max-width: 320px) {
		width: 280px;
	}

	h3 {
		font-size: 40px;
		margin: 10px 0px 10px 0px;
		padding: 0;

		@media (max-width: 576px) {
			font-size: 30px;
		}

		@media (max-width: 400px) {
			font-size: 25px;
		}

	}

	h4 {
		margin: 10px 0px 10px 0px;
		padding: 0;
		font-size: 25px;
		@media (max-width: 576px) {
			font-size: 18px;
			display: flex;
			align-items: center;
		}
		@media (max-width: 400px) {
			font-size: 15px;
		}
	}

	.precios {

		.productos-precios,
		.envio-precios {
			display: flex;
			justify-content: space-between;
		}


		.codigo-cupon {
			display: flex;
			justify-content: space-between;
			@media (max-width: 576px) {
				flex-direction: column;;
			}

			.form {
				width: fit-content;
				height: 58px;
				max-width: 400px;
				position: relative;
				overflow: hidden;

				input {
					width: 100%;
					height: 100%;
					background: none;
					color: black;
					padding-top: 20px;
					border: none;
					outline: 0px;

					&:focus+.texto-label .placeholder,
					&:valid+.texto-label .placeholder {
						transform: translateY(-110%);
						font-size: 15px;
						color: #383838;
					}

					&:focus+.texto-label::after,
					&:valid+.texto-label::after {
						transform: translateX(0%);
					}
				}

				.texto-label {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					pointer-events: none;
					border-bottom: 1px solid #383838;

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 100%;
						border-bottom: 2px solid #666666;
						transform: translateX(-100%);
						transition: all 0.3s ease;
					}

					.placeholder {
						position: absolute;
						bottom: 5px;
						left: 0;
						transition: all 0.3s ease;
						color: black;
					}
				}
			}
		}
	}

	.total {
		display: flex;
		justify-content: space-between;
	}

}



@mixin compras-cajas($ancho) {
	background-color: $background-color_4;
	display: flex;
	width: $ancho;
	justify-items: start;
	margin: 20px;
	padding: 0;
	border-radius: 10px;
}

.compra1-carrito,
.compra2-carrito,
.compra3-carrito {
	@include compras-cajas(auto);
}

.texto-carrito {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: 350px;

	.h2-carrito {
		font-size: 30px;
		margin: 10px;
		font-weight: bold;
	}

	.precio-producto {
		font-size: 30px;
		margin: 10px;
		color: #00000081;
	}
}

@mixin imagenes-compras($ancho) {
	width: $ancho;
	height: 300px;
	margin: 10px;
	border-radius: 5px;
	object-fit: cover;
}

.budin-frutosrojos,
.muffin-frutosrojos-carrito,
.muffin-coco-carrito {
	@include imagenes-compras(250px);
}

.boton-comprar-carrito {
	color: $color_1;
	background-color: $background-color_5;
	width: fit-content;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;

	&:hover {
		background-color: $background-color_6;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
}

.botoncomprar-container-carrito {
	width: 100%;
	display: flex;
	justify-content: center;
}

.cantidad-carrito {
	background-color: $background-color_4;
	margin: 10px;
	padding: 5px;
	height: 60px;
	width: fit-content;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	text-align: center;
	position: relative;
}

.boton-restar-carrito,
.cantidad-valor-carrito,
.boton-agregar-carrito {
	margin: 5px;
}

.icono-cruz-carrito {
	width: 30px;
	height: 30px;
	margin: 5px;
}

.cantidad-y-boton-cerrar-carrito {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "cerrar"
		"cantidad";
	gap: 160px;
}

.boton-cerrar-carrito {
	grid-area: cerrar;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.cantidad-carrito {
	grid-area: cantidad;
}


@media (max-width: 1400px) {
	.muffin-frutosrojos-carrito {
		width: 250px;
		object-fit: cover;
	}
}

@media (max-width: 1200px) {

	.compra1-carrito,
	.compra2-carrito,
	.compra3-carrito {
		@include compras-cajas(auto);
	}

	.budin-frutosrojos,
	.muffin-frutosrojos-carrito,
	.muffin-coco-carrito {
		width: 200px;
		object-fit: cover;
	}

	.boton-restar-carrito,
	.cantidad-valor-carrito,
	.boton-agregar-carrito {
		margin: 5px;
	}

	.icono-cruz-carrito {
		width: 30px;
		height: 30px;
		margin: 5px;
	}

	.cantidad-y-boton-cerrar-carrito {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "cerrar"
			"cantidad";
		gap: 160px;
	}

	.boton-cerrar-carrito {
		grid-area: cerrar;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.cantidad-carrito {
		grid-area: cantidad;
	}

}

@media (max-width: 768px) {

	.compra1-carrito,
	.compra2-carrito,
	.compra3-carrito {
		@include compras-cajas(auto);
	}

	.budin-frutosrojos,
	.muffin-frutosrojos-carrito,
	.muffin-coco-carrito {
		width: 200px;
	}

	.texto-carrito {
		width: 250px;

		.h2-carrito {
			font-size: 25px;
			margin: 10px;
			font-weight: bold;
		}

		p {
			font-size: 16px;
			padding: 5px;
			width: 250px;
		}
	}

	.boton-restar-carrito,
	.cantidad-valor-carrito,
	.boton-agregar-carrito {
		margin: 5px;
	}

	.icono-cruz-carrito {
		width: 30px;
		height: 30px;
		margin: 5px;
	}

	.cantidad-y-boton-cerrar-carrito {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "cerrar"
			"cantidad";
		gap: 160px;
	}

	.boton-cerrar-carrito {
		grid-area: cerrar;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.cantidad-carrito {
		grid-area: cantidad;
	}

}

@media (max-width: 576px) {

	.compra1-carrito,
	.compra2-carrito,
	.compra3-carrito {
		display: flex;
		flex-direction: column;
		width: 250px;
	}

	.texto-carrito {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 250px;

		.h2-carrito {
			font-size: 20px;
			margin: 10px;
			font-weight: bold;
		}

		p {
			font-size: 16px;
			padding: 5px;
			width: 250px;
			text-align: center;
		}
	}

	.budin-frutosrojos,
	.muffin-frutosrojos-carrito,
	.muffin-coco-carrito {
		width: 250px;
		height: 300px;
		margin: 0px;
		border-radius: 5px;
	}

	.cantidad-carrito {
		top: 0;
		left: 130px;
		justify-content: center;
		align-items: center;
	}

	.cantidad-y-boton-cerrar-carrito {
		display: flex;
		flex: row;
		justify-content: end;
		position: relative;
	}

	.icono-cruz-carrito {
		display: flex;
		position: relative;
		width: 20px;
		height: 20px;
		top: -415px;
	}
}

@media (max-width: 320px) {

	.compra1-carrito,
	.compra2-carrito,
	.compra3-carrito {
		display: flex;
		flex-direction: column;
		width: 250px;
	}

	.texto-carrito {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 250px;

		.h2-carrito {
			font-size: 20px;
			margin: 10px;
			font-weight: bold;
		}

		p {
			font-size: 16px;
			padding: 5px;
			width: 250px;
			text-align: center;
		}
	}

	.budin-frutosrojos,
	.muffin-frutosrojos-carrito,
	.muffin-coco-carrito {
		width: 250px;
		height: 300px;
		margin: 0px;
		border-radius: 5px;
	}

	.cantidad-carrito {
		top: 0;
		left: 130px;
		justify-content: center;
	}

	.boton-cerrar-carrito {
		top: -515px;
		left: 105px;
	}

	.cantidad-y-boton-cerrar-carrito {
		display: flex;
		flex: row;
		justify-content: end;
		position: relative;
	}

	.icono-cruz-carrito {
		width: 20px;
		height: 20px;
	}

	.cruz-carrito {
		width: 20px;
		height: 20px;
	}

}