.body-carrito {
	background-color: $background-color_2;
}

.h1-productosClickeados {
	text-align: center;
	font-size: 0.75rem;
	margin: 10px;
	font-weight: lighter;
	cursor: default;
}

.container-producto {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 70px 0px 70px 0px;
}

.producto-productosClickeados {
	display: flex;
	background-color: $background-color_3;
	border-radius: 20px;
	justify-content: center;
	width: 70%;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: auto;
		margin: 20px;
		justify-content: center;
	}

	img {
		width: 400px;
		height: auto;
		border-radius: 3px;
		object-fit: cover;

		@media (max-width: 1200px) {
			width: 350px;
		}

		@media (max-width: 1000px) {
			width: 250px;
		}

		@media (max-width: 768px) {
			width: 300px;
		}
	}

	.texto-productosClickeados {
		flex-direction: column;
		padding: 20px;
		text-align: start;

		h2 {
			font-size: 1.75rem;

			@media (max-width: 1200px) {
				font-size: 1.50rem;
			}

			@media (max-width: 1000px) {
				font-size: 1.25rem;
			}
		}

		p {
			font-size: 1.50rem;

			@media (max-width: 1200px) {
				font-size: 1.25rem;
			}

			@media (max-width: 1000px) {
				font-size: 1rem;
			}
		}
	}

}