.body-carrito {
	background-color: $background-color_2;
}

.h1-productosBudines {
    text-align: center;
    font-size: 0.75rem;
    margin: 10px;
    font-weight: lighter;
    cursor: default;
}

.h2-productosBudines {
    text-align: center;
    font-size: 1.4375rem;
    margin: 10px;
}

.productos-container-productosBudines {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    margin-bottom: 70px;
    gap: 69px;
}

@mixin budines-cajas {
    background-color: $background-color_4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 400px;
    height: 650px;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}

.budin1-productosBudines , .budin2-productosBudines , .budin3-productosBudines {
    @include budines-cajas;
}

@mixin budines-imagenes {
    width: 400px;
    display: flex;
    align-items: center;
}

.budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
    @include budines-imagenes;
}

.descripcion-productosBudines {
    text-align: center;
    padding: 5px;
    font-size: 0.875rem;
    margin: 0px 20px;
}

.budin1-productosBudines {
    .descripcion-productosBudines {
        margin-bottom: 20px;
    }
}

.img-agregar-al-carrito-productosBudines {
        width: 40px;
        display: flex;
        position: relative;
        left: 350px;
        top: 10px;
}

@media (max-width: 1400px) {

    .productos-container-productosBudines {
        gap: 50px;
    }

    .budin1-productosBudines , .budin2-productosBudines , .budin3-productosBudines {
        width: 350px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola ,  .budin-de-zanahoria {
        width: 350px;
        display: flex;
        align-items: center;
    }

    .img-agregar-al-carrito-productosBudines {
        width: 30px;
        display: flex;
        position: relative;
        left: 310px;
        top: 0px;
    }
}

@media (max-width: 1200px) {

    .productos-container-productosBudines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .budin1-productosBudines , .budin2-productosBudines , .budin3-productosBudines {
        width: 450px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria  {
        width: 450px;
        display: flex;
        align-items: center;
    }

    .img-agregar-al-carrito-productosBudines {
        width: 30px;
        display: flex;
        position: relative;
        left: 410px;
    }

}

@media (max-width: 768px) {
    .productos-container-productosBudines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {

    .productos-container-productosBudines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .budin1-productosBudines , .budin2-productosBudines , .budin3-productosBudines {
        width: 300px;
        height: auto;
    }

    .budin-de-frutosrojos , .budin-de-limonyamapola , .budin-de-zanahoria {
        width: 300px;
        display: flex;
        align-items: center;
    }

    .img-agregar-al-carrito-productosBudines {
            width: 30px;
            display: flex;
            position: relative;
            left: 260px;
        }

}

@media (max-width: 320px) {

    .productos-container-productosBudines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .budin1-productosBudines , .budin2-productosBudines , .budin3-productosBudines {
        width: 250px;
        height: auto;
    }

    .budin-de-frutosrojos, .budin-de-limonyamapola , .budin-de-zanahoria {
        width: 250px;
        display: flex;
        align-items: center;
    }

    .img-agregar-al-carrito-productosBudines {
        width: 30px;
        display: flex;
        position: relative;
        left: 210px;
    }
}