.body-carrito {
	background-color: $background-color_2;
}

.grilla-main {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 1fr;
	grid-template-areas: "compras total";
	justify-items: center;

	@media (max-width: 1200px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "compras" "total";
	}

	@media (max-width: 576px) {
	}

}

#cart-products {
	grid-area: compras;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	padding: 20px;

	@media (max-width: 1500px) {
		margin: 0;
	}

	.cart-product {
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-between;
		background-color: $color_1;
		align-items: center;
		justify-items: center;
		border-radius: 10px;
		padding: 5px;
		padding-right: 30px;
		img {
			width: 100px;
			height: 100px;
			border-radius: 10px;
		}
		h4 {
			font-size: 0.75rem;
			margin: 0;
		}
		p {
			font-size: 1rem;
			font-weight: bolder;
			margin: 0;
		}
		.delete-button {
			background-color: rgb(255, 123, 123);
			color: $color_1;
			font-weight: bolder;
			border-radius: 100px;
			border: 1px solid rgb(255, 123, 123);
			width: 20px;
			display: flex;
			text-align: center;
			justify-content: center;
			margin: 1px;
			&:hover {
				background-color: $color_1;
				color: rgb(255, 123, 123);
			}
		}
		@media (max-width: 576px) {
			flex-direction: column;
			width: auto;
			padding-right: 5px;
			img{
				width: 250px;
				height: auto;
			}
			.product-name,
			.product-quantity,
			.product-price {
				text-align: center;
			}
			button {
				position: relative;
				top: -375px;
				left: 110px;
			}
		}
	}
	@media (max-width: 576px) {
		align-items: center;
	}

}

.total-container-carrito {
	grid-area: total;
	padding: 40px;
	width: 95%;

	@media (max-width: 1500px) {
		
	}

	@media (max-width: 1200px) {
		
	}

	@media (max-width: 768px) {
		
		
	}

	@media (max-width: 576px) {
		
	}

	@media (max-width: 400px) {
		
	}

	@media (max-width: 320px) {
		
	}

	h3 {
		font-size: 2.5rem;
		margin: 10px 0px 10px 0px;
		padding: 0;

		@media (max-width: 576px) {
			font-size: 1.875rem;
		}

		@media (max-width: 400px) {
			font-size: 1.5625rem;
		}

	}

	h4 {
		margin: 10px 0px 10px 0px;
		padding: 0;
		font-size: 1.5625rem;
		@media (max-width: 576px) {
			font-size: 1.125rem;
			display: flex;
			align-items: center;
		}
		@media (max-width: 400px) {
			font-size: 0.9375rem;
		}
	}

	.precios {

		.productos-precios,
		.envio-precios {
			display: flex;
			justify-content: space-between;
		}


		.codigo-cupon {
			display: flex;
			justify-content: space-between;
			@media (max-width: 576px) {
				flex-direction: column;;
			}

			.form {
				width: fit-content;
				height: 58px;
				max-width: 400px;
				position: relative;
				overflow: hidden;

				input {
					width: 100%;
					height: 100%;
					background: none;
					color: black;
					padding-top: 20px;
					border: none;
					outline: 0px;

					&:focus+.texto-label .placeholder,
					&:valid+.texto-label .placeholder {
						transform: translateY(-110%);
						font-size: 0.9375rem;
						color: #383838;
					}

					&:focus+.texto-label::after,
					&:valid+.texto-label::after {
						transform: translateX(0%);
					}
				}

				.texto-label {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					pointer-events: none;
					border-bottom: 1px solid #383838;

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 100%;
						border-bottom: 2px solid $background-color_5;
						transform: translateX(-100%);
						transition: all 0.3s ease;
					}

					.placeholder {
						position: absolute;
						bottom: 5px;
						left: 0;
						transition: all 0.3s ease;
						color: black;
					}
				}
			}
		}
	}

	.total {
		display: flex;
		justify-content: space-between;
	}

}

.boton-comprar-carrito {
	border: solid 2px $background-color_5;
	color: $background-color_5;
	background-color: $color_1;
	width: fit-content;
	margin: 2px;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	display: flex;
	justify-content: center;

	&:hover {
		background-color: $background-color_5;
		color: $color_1;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	}

	&:active {
		border-radius: 15px;
	}
}

.botoncomprar-container-carrito {
	width: 100%;
	display: flex;
	justify-content: center;
}
