.nav-principal-productosMuffins {
    background-color: $background-color_1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
}

.paginas-productosMuffins {
    padding: 0px;
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.index-productosMuffins {
    margin: 15px;
    width: fit-content;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: black;
        transition: .3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.productos-productosMuffins {
    margin: 15px;
    width: fit-content;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: black;
        transition: .3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.carrito-productosMuffins {
    margin: 15px;
    width: fit-content;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: black;
        transition: .3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.logo-inicio-productosMuffins {
    display: flex;
    position: relative;
}

.logo-productosMuffins {
    width: 50px;
    object-fit: cover;
    cursor: pointer;
}

.texto-logo-productosMuffins {
    display: flex;
    position: relative;
    top: 16px;
    left: 9px;
    cursor: default;
}

.icono-carrito-productosMuffins {
    width: 20px;
    height: 20px;
    display: flex;
    position: relative;
    top: 4px;
}

.barra-con-logo-productosMuffins {
    margin-top: 95px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.productos-nav-productosMuffins {
    background-color: $background-color_1;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.paginas-productos-productosMuffins {
    margin: 15px;
    display: flex;
}

.budines-productosMuffins {
    margin: 10px;
    width: fit-content;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: rgb(0, 0, 0);
        transition: .3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.muffins-productosMuffins {
    margin: 10px;
    width: fit-content;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: rgb(0, 0, 0);
        transition: .3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}


@media (max-width: 576px) {

    .nav-principal-productosMuffins {
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

    .paginas-productosMuffins {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo-productosMuffins {
        display: flex;
        justify-content: flex-start;
    }

    .barra-con-logo-productosMuffins {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .productos-nav-productosMuffins {
        font-size: 20px;
    }

}

@media (max-width: 320px) {


    .nav-principal-productosMuffins {
        width: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
    }

    .paginas-productosMuffins {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .logo-productosMuffins {
        display: flex;
        justify-content: flex-start;
    }

    .barra-con-logo-productosMuffins {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .productos-nav-productosMuffins {
        font-size: 20px;
    }


}