$background-color_1: #fff8ea;
$background-color_2: #f7f6f6;
$background-color_3: #f0efef;
$background-color_4: white;
$background-color_5: greenyellow;
$background-color_6: rgb(137, 224, 6);
$color_1: white;
