$background-color_1: #fff8ea;
$background-color_2: #f7f6f6;
$background-color_3: whitesmoke;
$background-color_4: white;
$background-color_5: rgb(255, 226, 163);
$background-color_6: rgb(241, 200, 112);
$color_1: white;
