$background-color_1: #f3ebdc;
$background-color_2: whitesmoke;
$background-color_3: whitesmoke;
$background-color_4: white;
$background-color_5: rgb(147, 202, 247);
$background-color_6: rgb(252, 238, 200);
$color_1: white;